/*
ACLARACION:
Si usamos todo el codigo podremos ejecutarlo en cualquier DBMS desde el principio

Ahora desde VS2022 lo que tendremos que hacer es crear el archivo MDF con una base
que se llame igual a PokeBase. Finalmente ejecutamos desde la creacion de las tablas.

*/
USE [master]
GO
/****** Object:  Database [PokeBase]    Script Date: 07/05/2025 17:32:40 ******/
CREATE DATABASE [PokeBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PokeBase', FILENAME = N'D:\SSMS\MSSQL15.SQLEXPRESS\MSSQL\DATA\PokeBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PokeBase_log', FILENAME = N'D:\SSMS\MSSQL15.SQLEXPRESS\MSSQL\DATA\PokeBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PokeBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PokeBase]
GO
/****** Object:  UserDefinedFunction [dbo].[SEARCH_BY_TYPE]    Script Date: 07/05/2025 17:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ACLARACION: Si ya tenemos la base de datos debemos ejecutar desde aca */

/****** Object:  Table [dbo].[Entrenadores]    Script Date: 07/05/2025 17:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrenadores](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[nombres] [varchar](255) NOT NULL,
	[apellidos] [varchar](255) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[entrenador_activo] [bit] NOT NULL,
	[medallas] [int] NOT NULL,
 CONSTRAINT [PK_Entrenadores] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 07/05/2025 17:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[id_pokemon] [int] NOT NULL,
	[id_entrenador] [int] NOT NULL,
 CONSTRAINT [PK_Equipos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pokemones]    Script Date: 07/05/2025 17:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokemones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[altura] [decimal](18, 2) NOT NULL,
	[peso] [decimal](18, 2) NOT NULL,
	[generacion] [int] NOT NULL,
	[id_tipo_primario] [int] NOT NULL,
	[id_tipo_secundario] [int] NULL,
 CONSTRAINT [PK_Pokemones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos]    Script Date: 07/05/2025 17:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[abreviatura] [varchar](255) NOT NULL,
	[color] [varchar](255) NULL,
 CONSTRAINT [PK_Tipos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE FUNCTION [dbo].[SEARCH_BY_TYPE](@type varchar(255))

RETURNS TABLE
	RETURN
		SELECT * FROM Pokemon p WHERE p.PrimaryType LIKE @type OR p.SecondaryType LIKE @type
GO
SET IDENTITY_INSERT [dbo].[Entrenadores] ON 

INSERT [dbo].[Entrenadores] ([id], [nombres], [apellidos], [fecha_nacimiento], [entrenador_activo], [medallas]) VALUES (0, N'Ash', N'Ketchum', CAST(N'1997-04-01' AS Date), 0, 38)
INSERT [dbo].[Entrenadores] ([id], [nombres], [apellidos], [fecha_nacimiento], [entrenador_activo], [medallas]) VALUES (1, N'Brock', N'Harrison', CAST(N'1992-01-01' AS Date), 1, 1)
INSERT [dbo].[Entrenadores] ([id], [nombres], [apellidos], [fecha_nacimiento], [entrenador_activo], [medallas]) VALUES (2, N'Red', N'Paleta', CAST(N'1996-02-27' AS Date), 1, 8)
SET IDENTITY_INSERT [dbo].[Entrenadores] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipos] ON 

INSERT [dbo].[Equipos] ([id], [id_pokemon], [id_entrenador]) VALUES (0, 25, 0)
INSERT [dbo].[Equipos] ([id], [id_pokemon], [id_entrenador]) VALUES (1, 95, 1)
INSERT [dbo].[Equipos] ([id], [id_pokemon], [id_entrenador]) VALUES (2, 74, 1)
SET IDENTITY_INSERT [dbo].[Equipos] OFF
GO
SET IDENTITY_INSERT [dbo].[Pokemones] ON 

INSERT [dbo].[Pokemones] ([id], [nombre], [altura], [peso], [generacion], [id_tipo_primario], [id_tipo_secundario]) VALUES (1, N'Bulbasaur', CAST(0.70 AS Decimal(18, 2)), CAST(6.90 AS Decimal(18, 2)), 1, 13, 15)
INSERT [dbo].[Pokemones] ([id], [nombre], [altura], [peso], [generacion], [id_tipo_primario], [id_tipo_secundario]) VALUES (2, N'Ivysaur', CAST(1.00 AS Decimal(18, 2)), CAST(13.00 AS Decimal(18, 2)), 1, 13, 15)
INSERT [dbo].[Pokemones] ([id], [nombre], [altura], [peso], [generacion], [id_tipo_primario], [id_tipo_secundario]) VALUES (3, N'Venusaur', CAST(2.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), 1, 13, 15)
GO
SET IDENTITY_INSERT [dbo].[Pokemones] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipos] ON 

INSERT [dbo].[Tipos] ([id], [nombre], [abreviatura], [color]) VALUES (0, N'Bicho', N'Bic', N'729f3f')
INSERT [dbo].[Tipos] ([id], [nombre], [abreviatura], [color]) VALUES (1, N'Dragon', N'Dra', N'f16e57')
INSERT [dbo].[Tipos] ([id], [nombre], [abreviatura], [color]) VALUES (2, N'Hada', N'Had', N'fdb9e9')
SET IDENTITY_INSERT [dbo].[Tipos] OFF
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD  CONSTRAINT [FK_Equipos_Entrenadores] FOREIGN KEY([id_entrenador])
REFERENCES [dbo].[Entrenadores] ([id])
GO
ALTER TABLE [dbo].[Equipos] CHECK CONSTRAINT [FK_Equipos_Entrenadores]
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD  CONSTRAINT [FK_Equipos_Pokemones] FOREIGN KEY([id_pokemon])
REFERENCES [dbo].[Pokemones] ([id])
GO
ALTER TABLE [dbo].[Equipos] CHECK CONSTRAINT [FK_Equipos_Pokemones]
GO
ALTER TABLE [dbo].[Pokemones]  WITH CHECK ADD  CONSTRAINT [FK_Pokemones_Tipos_Primario] FOREIGN KEY([id_tipo_primario])
REFERENCES [dbo].[Tipos] ([id])
GO
ALTER TABLE [dbo].[Pokemones] CHECK CONSTRAINT [FK_Pokemones_Tipos_Primario]
GO
ALTER TABLE [dbo].[Pokemones]  WITH CHECK ADD  CONSTRAINT [FK_Pokemones_Tipos_Secundario] FOREIGN KEY([id_tipo_secundario])
REFERENCES [dbo].[Tipos] ([id])
GO
ALTER TABLE [dbo].[Pokemones] CHECK CONSTRAINT [FK_Pokemones_Tipos_Secundario]
GO
/****** Object:  StoredProcedure [dbo].[GET_TYPES_GENERATION]    Script Date: 07/05/2025 17:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_TYPES_GENERATION](@generacion int)
AS
BEGIN
--Cuenta todos los tipos
   SELECT  t.nombre, COUNT(p.id) AS 'Cantidad'
	FROM Pokemones p
	JOIN Tipos t ON t.id = p.id_tipo_secundario OR t.id = p.id_tipo_primario
		WHERE p.generacion = @generacion
		GROUP BY t.id,t.nombre

END
GO
/****** Object:  StoredProcedure [dbo].[SEARCH_TYPES]    Script Date: 07/05/2025 17:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SEARCH_TYPES]
	@type varchar(255)
AS
BEGIN

		SELECT * FROM Pokemon p WHERE p.PrimaryType LIKE @type OR p.SecondaryType LIKE @type
END
GO
USE [master]
GO
